header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(255, 105, 180);
    color: blue;
}

#body{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: blue;
    padding-top: 5vh;
}

.varor{
    background-color: rgb(255, 105, 180);
    width: 8vw;
    height: 15vh;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}